#cover{
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
}
#front-face{
    width: 250px;
    height: 250px;
    display: block;
    margin: 0 auto;
}

#about-heading{
    font-weight: bolder;
    font-size: 52px;
}